
body {
  background-color: #111111;
  color: white;
}

canvas {
  border: 1px solid green;
  display: block;
  margin-bottom: 10px;
  background-color: #222222;
}

table {
  background-color: #222222;
  padding: 20px;
}

td {
  text-align: center;
  padding: 20px;
}

.active {
  background-color: green;
}